body {
  font-family: 'Open Sans', sans-serif;
}

.container,
main {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

nav span,
section {
  padding: .809rem;
}

nav {
  background: #e3919f;
  color: white;
  line-height: 3rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

nav span {
  padding-right: .809rem;
  text-shadow: 0 0 1px #000;
}

@media (max-width: 415px) {
  nav span {
    display: block;
    width: 100%;
  }

  section {
    padding-top: 6rem;
  }
}

nav a {
  color: white;
  text-shadow: 0 0 1px #000;
  display: inline-block;
  padding: .809rem;
  text-decoration: none;
}

nav a:nth-child(2) {
  background: #0E9499;
}

section {
  min-height: 625px;
  padding-bottom: 40px;
  overflow: scroll;
}

section h2 {
  color: #08545E;
}
.section1 {
  background: #0E9499;
}

.section2 {
  background: #2EC7CC;
}

.section3 {
  background: #72ffc6;
}

section figure {
  width: 500px;
  height: 400px;
  margin: 90px auto 0;
  background: #fff;
  box-shadow: 0 4px 12px 2px grey;

}
footer {
  height: 42px;
  background: #e3919f;
}
