* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
}

.container,
main {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

nav span,
section {
  padding: .809rem;
}

nav {
  background: #e3919f;
  color: white;
  line-height: 3rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

nav span {
  padding-right: .809rem;
  text-shadow: 0 0 1px #000;
}

@media (max-width: 415px) {
  nav span {
    display: block;
    width: 100%;
  }

  section {
    padding-top: 6rem;
  }
}

nav a {
  color: white;
  text-shadow: 0 0 1px #000;
  display: inline-block;
  padding: .809rem;
  text-decoration: none;
}

nav a:nth-child(2) {
<<<<<<< HEAD
  background: #9ed4d6;
=======
  background: #0E9499;
>>>>>>> c3ee62e53b9d4d3b211ceb478443ba4cdaf3722c
}

section {
  min-height: 625px;
  padding-bottom: 80px;
}

section h2 {
  color: #83a9c3;
}
.section1 {
  background: #b6dee0; /*#0E9499*/
}

.section2 {
  background: #b5ebed;/*#2EC7CC*/
}

.section3 {
  background: #d7ffef /*#72ffc6*/
}

article {
  width: 100%;
}


.thumbnail {
  display: block;
  max-width: 500px;
  width: 50%;
  min-width: 370px;
  margin: 90px auto 0;
}

a.thumbnail img {
  width: 100%;
  border: 12px solid #b6dee0;
  box-shadow: 0 0 1px #83a9c3;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.thumbnail img:hover {
  opacity: 0.8;
}

.lightbox {
  position: fixed;
  top: -100%;
  width: 100%;
  margin: 0 auto;
  background: rgba(0,0,0,.65);
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  overflow: hidden;

}
.lightbox img {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 0%;
  max-height: 0%;
  border: 12px solid #b6dee0;
  box-shadow: 0 0 1px #83a9c3;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.lightbox:target {
  opacity: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.lightbox:target img {
  max-width: 100%;
  max-height: 100%;
}



footer {
  height: 42px;
  background: #e3919f;
}
